// File:    /src/styles/NoteEditor.scss
// Purpose: Styles for the NoteEditor container

.editor {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

//Editor actions bar
.editor__actions {
	display: inline-block;
	margin-left: 2rem;

	&.button-group {
		margin-bottom: 0;
		white-space: nowrap;

		& button:first-of-type { border-radius: 3px 0 0 3px; }
		& button:last-of-type { border-radius: 0 3px 3px 0; }
		& button:only-of-type { border-radius: 3px; }
	}

	.button {
		padding: 0.5rem 0.75rem;
		text-decoration: none;
	}

	//Use @button-colour() mixin to generate the button colours and hover effects
	.button--delete { @include button-colour(#F44336); }
	.button--edit { @include button-colour(#2196F3); }
	.button--save, .button--add { @include button-colour(#4CAF50); }
	.button--cancel { @include button-colour(#607D8B); }
}

//Empty editor (no note selected)
.editor--empty {
	.editor__content {
		align-items: center;

		p {
			margin-top: 5rem;
			@include message('empty')
			max-width: 350px;
			width: 75%;
		}
	}

	h2 {
		font-weight: normal;
		@include message('empty');
	}
}

//Styles that pertain to viewing/empty mode only
.editor--view, .editor--empty {
	h2 {
		flex-grow: 1;
		display: inline-block;
		margin: 0;

		@include overflow-ellipsis;
	}
}

//Styles that pertain to editing mode only
.editor--edit {
	input, textarea {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	input[type=text] {
		flex-grow: 1;
		width: auto;
		padding: 0.25rem 0;
		font-size: 24px;
		font-weight: bold;
		border-bottom: 2px solid $app-primary-colour;
	}

	textarea {
		padding: 0.5rem;
		border-right: 1px solid $app-primary-colour;
		border-left: 1px solid $app-primary-colour;
	}
}

.editor__header {
	display: flex;
	margin-bottom: 1.5rem;
}

.editor__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	//max-width: 100%;
	//min-height: 50px;
}
