// File:    /src/styles/Sidebar.scss
// Purpose: Styles for the Sidebar container

.sidebar__filter {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.sidebar__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.note-card {
	padding: 0.5rem;
	background-color: white;
	border-bottom: 1px solid $sidebar-colour;
	cursor: pointer;

	&:hover {
		border-color: $app-primary-colour;
	}
}

.note__title {
	width: 100%;
	font-weight: bold;
}
