@import 'base';

.app {
	display: flex;
	flex-direction: column;
}


//Main containers
.app__header {
	padding: 1rem;
	background-color: rgb(60, 60, 60);
	color: rgb(250, 250, 250);

	h1 { margin: 0; }
}

.app__body {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

.app__footer {
	padding: 1rem;
	color: rgb(250, 250, 250);
	text-align: center;
	background-color: rgb(60, 60, 60);
}


//Body containers
.body__sidebar {
	flex-grow: 1;
	padding: 1rem;
	background-color: rgb(225, 225, 225);
}

.body__content {
	flex-grow: 2;
	padding: 1rem 2rem;
}


//Sidebar
.note-filter {
	width: 100%;
}

.note-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.note-card {
	padding: 0.5rem;
	background-color: white;
	border-bottom: 1px solid rgb(225, 225, 225);
	cursor: pointer;
}

.note__title {
	width: 100%;
	font-weight: bold;
}


//Note editing styles
.editor {
	display: flex;
	flex-direction: column;
	min-height: 50%;
}

.editor__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
	min-height: 50px;
}

.editor__title {
	width: 100%;
}

.editor__content {
	flex-grow: 1;
}

.editor__actions {
	display: flex;
	justify-content: flex-end;

	.btn {
		margin-left: 0.5rem;
		padding: 0.75rem 1.5rem;
	}
}
