@import 'base';

.app {
	display: flex;
	flex-direction: column;
}


//Main containers
.app__header {
	padding: 1rem;
	background-color: rgb(60, 60, 60);
	color: rgb(250, 250, 250);

	h1 { margin: 0; }
}

.app__body {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
}

.app__footer {
	padding: 1rem;
	color: rgb(250, 250, 250);
	text-align: center;
	background-color: rgb(60, 60, 60);
}


//Body containers
.body__sidebar {
	flex-grow: 1;
	padding: 1rem;
	background-color: rgb(225, 225, 225);
}

.body__content {
	flex-grow: 2;
	padding: 1rem 2rem;
}
