//TODO: Replace selector (very expensive)
* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(253, 253, 253);
	box-sizing: border-box;
}

html, body, #root, .app { height: 100%; }


// Base Styles

.input {
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.btn {
	border: none;
	cursor: pointer;
}
