//Note editing styles
.editor {
	display: flex;
	flex-direction: column;
	min-height: 50%;
}

.editor__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
	min-height: 50px;
}

.editor__title {
	width: 100%;
}

.editor__content {
	flex-grow: 1;
}

.editor__actions {
	display: flex;
	justify-content: flex-end;

	.btn {
		margin-left: 0.5rem;
		padding: 0.75rem 1.5rem;
	}
}
