//Note editing styles
.editor {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	hr {
		margin: 1rem auto;
		border-top: 1px solid dodgerblue;
	}
}

.editor__header {
	display: flex;

	h2 {
		flex-grow: 1;
		display: inline-block;
		margin: 0;
	}

	input {
		flex-grow: 1;
		padding: 0.25rem;
		font-weight: bold;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid indianred;
	}
}

.editor__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
	min-height: 50px;
}

.editor__actions {
	display: inline-block;
	margin-left: 1rem;

	&.button-group {
		margin-bottom: 0;

		& a:first-of-type { border-radius: 3px 0 0 3px; }
		& a:last-of-type { border-radius: 0 3px 3px 0; }
	}

	.button {
		padding: 0.5rem 0.75rem;
		text-decoration: none;
	}

	.button--delete { background-color: #F44336; }
	.button--edit { background-color: #2196F3; }
	.button--save { background-color: #4CAF50; }
	.button--cancel { background-color: #2196F3; }
}
