//Note editing styles
.editor {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.editor__actions {
	display: inline-block;
	margin-left: 2rem;

	&.button-group {
		margin-bottom: 0;

		& button:first-of-type { border-radius: 3px 0 0 3px; }
		& button:last-of-type { border-radius: 0 3px 3px 0; }
		& button:only-of-type { border-radius: 3px; }
	}

	.button {
		padding: 0.5rem 0.75rem;
		text-decoration: none;
	}

	.button--delete { background-color: #F44336; }
	.button--edit { background-color: #2196F3; }
	.button--save, .button--add { background-color: #4CAF50; }
	.button--cancel { background-color: #607D8B; }
}

.editor--empty {
	.editor__content {
		align-items: center;

		p {
			margin-top: 5rem;
			color: darkgray;
			max-width: 350px;
			width: 75%;
		}
	}

	h2 {
		font-weight: normal;
		font-style: italic;
	}
}

//Styles that pertain to viewing/empty mode only
.editor--view, .editor--empty {
	h2 {
		flex-grow: 1;
		display: inline-block;
		margin: 0;
	}
}

//Styles that pertain to editing mode only
.editor--edit {
	input[type=text] {
		flex-grow: 1;
		width: auto;
		padding: 0.25rem 0;
		font-size: 24px;
		font-weight: bold;
		background-color: transparent;
		border: none;
		border-bottom: 2px solid indianred;
		box-shadow: none;
	}

	input[type=textarea], textarea {
		padding: 0.5rem;
		background-color: transparent;
		border: none;
		border-right: 1px solid indianred;
		border-left: 1px solid indianred;
		box-shadow: none;
	}
}

.editor__header {
	display: flex;
	margin-bottom: 1.5rem;
}

.editor__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
	min-height: 50px;
}
