//Sidebar
.sidebar__filter {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.sidebar__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.note-card {
	padding: 0.5rem;
	background-color: white;
	border-bottom: 1px solid rgb(225, 225, 225);
	cursor: pointer;

	&:hover {
		border-color: indianred;
	}
}

.note__title {
	width: 100%;
	font-weight: bold;
}
